<div class="login-page-container">
    <div class="decoration-container">
         <div class="added-button-container">
            <img class="added-img" src="../../assets/images/add-button.svg" alt="added button">
        </div>
        <div class="notes-decoration-container">
            <div class="notes-decoration">
                <div>Écrit</div>
                <div class="line-container">
                    <div>_____________</div>
                    <div>_____________</div>
                    <div>_____________</div>
                </div>
            </div>
            <div class="notes-decoration">
                <div>tes</div>
                <div class="line-container">
                    <div>_____________</div>
                    <div>_____________</div>
                    <div>_____________</div>
                </div>
            </div>
            <div class="notes-decoration">
                <div>notes</div>
                <div class="line-container">
                    <div>_____________</div>
                    <div>_____________</div>
                    <div>_____________</div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="title-container">
            <div class="title-connect">Connecte-toi !</div>
            <div class="question-connect">Pas encore inscrit ? C'est par ici :</div>
            <div class="signin-button-container">
                <a href="/signup"><button class="signin-button">Inscription</button></a>
            </div>
        </div>

        <form class="input-login-container" [formGroup]="loginForm">
            <label for="email"></label>
            <input type="email" placeholder="Email" id="email" formControlName="email">

            <label for="password"></label>
            <input type="password" placeholder="Mot de passe" id="password" formControlName="password">

            <p *ngIf="isInvalidCredentials">Email ou mot de passe incorrects</p>
            <button class="login-button" (click)="onLogin()" type="submit" [disabled]="loginForm.invalid" matTooltip="Remplir les champs du formulaire svp">Connexion</button>
        </form>
        <a href="/profile"><button class="login-button">Voir profil version bêta</button></a>
    </div> 
</div>

