<div class="login-page-container">
    <div class="decoration-container">
         <div class="added-button-container">
            <img class="added-img" src="../../assets/images/add-button.svg" alt="added button">
        </div>
        <div class="notes-decoration-container">
            <div class="notes-decoration">
                <div>Écrit</div>
                <div class="line-container">
                    <div>_____________</div>
                    <div>_____________</div>
                    <div>_____________</div>
                </div>
            </div>
            <div class="notes-decoration">
                <div>tes</div>
                <div class="line-container">
                    <div>_____________</div>
                    <div>_____________</div>
                    <div>_____________</div>
                </div>
            </div>
            <div class="notes-decoration">
                <div>notes</div>
                <div class="line-container">
                    <div>_____________</div>
                    <div>_____________</div>
                    <div>_____________</div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="title-container">
            <div class="title-connect">Connecte-toi !</div>
            <div class="question-connect">Pas encore inscrit ? C'est par ici :</div>
            <div class="signin-button-container">
                <a href="/signup"><button class="signin-button">Inscription</button></a>
            </div>
        </div>

        <form action="/" method="post" class="input-login-container">
            <label for="email"></label>
            <input type="email" placeholder="Email" id="email" name="email" required>

            <label for="password"></label>
            <input type="password" placeholder="Mot de passe" id="password" name="password" required>
            
            <button class="login-button" type="submit">Connexion</button>
        </form>
        <a href="/profile"><button class="login-button">Voir profil version bêta</button></a>
    </div> 
</div>

