<div class="signup-page-container">
    <div class="title-back">
        <div class="title-signup">Inscription</div>
        <a href="/"><button class="back-button">Retour</button></a> 
    </div>
    <form action="/" method="post" class="input-signup-container">
        <label for="email"></label>
        <input type="email" placeholder="Email" id="email" name="email" required>

        <label for="password"></label>
        <input type="password" placeholder="Mot de passe" id="password" name="password" required>

        <label for="passwordConfirm"></label>
        <input type="passwordConfirm" placeholder="Confirme ton mot de passe" id="passwordConfirm" name="passwordConfirm" required>

        <label for="pseudo"></label>
        <input type="text" placeholder="Pseudo"  id="pseudo" name="pseudo" required>

        <button class="signup-button" type="submit">Inscription</button>
    </form>
</div>
