.page404-container {
    width: 68vw;
}

.title {
    font-size: 3rem;
    margin: 3rem;
}

.subtitle {
    font-size: 2rem;
    margin-right: 10rem;
    text-align: end;
}

.img404 {
    margin: 2rem 0 0 10rem;
}