<div class="profile-page-container">
    <div class="title-back">
        <div class="title-profile">Profil Utilisateur</div>
        <a href="/notes"><button class="back-button">Retour aux notes</button></a> 
    </div>

    <form action="/" method="post" class="input-profile-container">
        <div class="label">
            <label for="email">Email : coucou@gmail.com</label>
            <input type="email" placeholder="coucou@gmail.com" id="email" name="email" required>
        </div>
        
        <div class="label">
            <label for="password">Password : azerty</label>
            <input type="password" placeholder="azerty" id="password" name="password" required> 
        </div>
        
        <div class="label">
            <label for="pseudo">Pseudo : Naya</label>
            <input type="text" placeholder="Naya"  id="pseudo" name="pseudo" required> 
        </div>
        
        <div class="button-container">
            <button class="delete-button" (click)="openDialog()">Supprimer</button>
            <button class="edit-button" type="submit">Modifier</button>
        </div>
    </form>

    <div class="logout-container">
        <div class="logout-title">Déconnexion</div>
        <a href="/"><img src="../../assets/images/power-off-solid.svg" alt="power off" class="power-off-img"></a>
    </div>
</div>
