<div class="profile-page-container">
    <div class="title-back">
        <div class="title-profile">Profil Utilisateur</div>
        <a href="/notes"><button class="back-button">Retour aux notes</button></a> 
    </div>

    <form class="input-profile-container">
        <div class="label">
            <label for="email">Email : {{ email }} </label>
        </div>
        
        <div class="label">
            <label for="password">Password : Pour des raisons évidentes de sécurité, le mot de passe n'est pas affiché.</label>
        </div>
        
        <div class="label">
            <label for="pseudo">Pseudo : {{ pseudo }}</label>
            <input type="text" placeholder="{{ pseudo }}"  id="pseudo" name="pseudo" required> 
        </div>
        
        <div class="button-container">
            <button class="delete-button" (click)="openDialog()">Supprimer</button>
            <button class="edit-button" type="submit">Modifier</button>
        </div>
    </form>

    <div class="logout-container">
        <div class="logout-title">Déconnexion</div>
        <a href="#" (click)="logout()"><img src="../../assets/images/power-off-solid.svg" alt="power off" class="power-off-img"></a>
    </div>
</div>
